#app{
    display: block;
    margin:auto; 
    position: relative;
    padding-top: 20px;
    margin-top: 30px;
    background-color: rgba(	128,119,119,0.1)

}
h1{
    position: relative;
    text-align: center;
    font-family: 'Inter';
    font-weight: 200;
    font-size: 30pt;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
h2{ 
    position: relative;
    text-align: center;
    font-family: 'Inter';
    font-weight: bolder;
    padding-right: 20px;
    font-weight: 500;
  
}

h3{
    position: relative;
    display: block;
    margin:auto ;
    font-family: 'Inter';
    padding-top: 40px;
    padding-left: 50px;
    font-weight: 200;
    
    
}

h4{
    position: relative;
    display: block;
    margin:auto ;
    font-family: 'Inter';
    font-size: 50pt;
    font-weight: 500;
    padding-left: 50px;
    padding-bottom: 10px;

}

img{
    display: block;
    margin: auto;
}

h6{
    display: block;
    margin: auto;
    font-family: 'Inter';
    font-size: 15pt;
    padding-bottom: 10px;
    font-weight: 200;
}
p{
    display: block;
    margin:auto;
    font-family: 'Inter';
    font-size: 15pt;
    text-align: center;
    font-weight:200;
}

footer{
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Inter';
    
}

#icon{
    position: relative;
    font-size:50pt;
}
#units{
    font-size: 20pt;
    cursor: default;
}

#pin{  
    font-size: 20pt;
    text-align: right;
}

#sb-form{
    margin: auto;
}

#weather-image-today {
    position: relative;
    display: block;
    margin:auto ;
    font-family: 'Inter';
    padding-top: 30px;
    text-align: center;
    
}
.card-header{
    font-family: 'Inter';
    background-color: #807777;
    color: white;
    font-weight: 200;
}
#weather-card-tomorrow{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#weather-card-next {
    padding-left: 20px;
    padding-right:20px;
    padding-bottom: 20px;
}
#github{
    font-family: 'Inter';
    font-weight: 200;
}
