#app{
    padding-top: 20px;
}
h1{
    position: relative;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 35pt;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
h2{ 
    position: relative;
    text-align: right;
    font-family: 'Raleway';
    font-weight: bolder;
    padding-right: 100px;
    padding-left: 20px;   
}

h3{
    position: relative;
    display: block;
    margin:auto ;
    font-family: 'Raleway';
    padding-top: 40px;
    padding-left: 50px;
    
    
}

h4{
    position: relative;
    display: block;
    margin:auto ;
    font-family: 'Raleway';
    font-size: 50pt;
    font-weight: bolder;
    padding-left: 50px;

}

img{
    display: block;
    margin: auto;
}

h6{
    display: block;
    margin: auto;
    font-family: 'Raleway';
    font-size: 15pt;
    padding-bottom: 10px;
}
p{
    display: block;
    margin:auto;
    font-family: 'Raleway';
    font-size: 15pt;
}

footer{
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Raleway';
    
}

#icon{
    position: relative;
    font-size:50pt;
}
#units{
    font-size: 20pt;
    cursor: default;
}

#celcius-link{
    text-decoration: none;
    color: grey;
    cursor: default;
}

#celcius-link:hover{
    color:black;
}

#fahrenheit-link{
    text-decoration: none;
    color: grey;
    cursor: default;
}

#fahrenheit-link:hover{
    color:black;
}
#pin{  
    font-size: 20pt;
    text-align: right;
}

#weather-image-today{
    font-size: 40pt;
}


#sb-form{
    margin: auto;
}

#weather-image-today {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.card-header{
    font-family: 'Raleway';
    background-color: grey;
    color: white;
}
#weather-card-tomorrow{
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 50px;
}

#weather-card-next {
    padding-left: 20px;
    padding-right: -40px;
    padding-bottom: 50px;
}
#github{
    font-family: "raleway";
}
